{
margin:0;
padding:0;
border:0;
font:inherit;
font-size:100%;
vertical-align:middle
}
table {
	border-collapse: collapse;
	border-spacing: 0
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

fieldset,img {
	border: 0
}

*,a,a:active,a:focus,button,div:active,div:focus,img,input,input:active,input:focus,textarea
	{
	-webkit-tap-highlight-color: transparent
}

a:focus,button:focus,input:focus {
	outline: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block
}

html {
	color: #333;
	-webkit-user-select: none;
	user-select: none
}

* {
	max-height: 999999px
}

#debuggapRoot .dg-out {
	width: 5rem !important;
	height: 5rem !important;
	border-radius: 50% !important
}

#debuggapRoot .dg-inner {
	width: 4rem !important;
	height: 4rem !important;
	border-radius: 50% !important;
	margin: .5rem !important
}

body {
	font-size: 1.2rem;
	line-height: 1.5;
	font-family: PingFang SC, -apple-system, Heiti SC, Helvetica,
		Helvetica Neue, Droid Sans Fallback, Droid Sans;
	height: auto;
	min-height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	flex-direction: column;
	-webkit-text-size-adjust: none
}

body.not-flex {
	display: block
}

ol,ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
	content: ''
}

a {
	text-decoration: none
}

.scrolling {
	-webkit-overflow-scrolling: touch
}

.flex-column,.flex-row,.goods-swiper .swiper-slide>div .bdr-bom,.m-alert-dialog .operate,.m-alert-dialog .tip .tip-head,.m-confirm-dialog .operate,.m-confirm-dialog .tip .tip-head,.m-datepicker .datepicker .m-header .m-h-title,.m-datepicker .tr-row,.m-dialog .dialog-head,.m-stretch-swiper
	{
	display: -webkit-box;
	display: flex
}

.flex-column,.m-stretch-swiper {
	-webkit-box-orient: vertical;
	flex-direction: column
}

.flex-item,.goods-swiper .swiper-slide>div .bdr-bom .item-info,.m-alert-dialog .operate span,.m-alert-dialog .tip .tip-title,.m-confirm-dialog .operate span,.m-confirm-dialog .tip .tip-title,.m-datepicker .datepicker .m-header .title,.m-datepicker .tr-row>div,.m-dialog .dialog-head .title,.m-stretch-swiper>.swiper-wrapper,.pbd
	{
	-webkit-box-flex: 1;
	flex: 1
}

.flex-vertical-middle {
	-webkit-box-align: center;
	align-items: center
}

.m-stretch-swiper>.swiper-wrapper {
	-webkit-box-align: stretch;
	align-items: stretch
}

.m-stretch-swiper>.swiper-wrapper>.swiper-slide {
	height: auto
}

.goods-swiper .swiper-slide>div .bdr-bom .item-info .g-title,.single-line-clamp
	{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all
}

.ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}

.pbd {
	-webkit-user-select: none;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

.border-box {
	box-sizing: border-box
}

.prompt {
	font-size: 1.1rem;
	color: #ff7800;
	background-color: #faf6de;
	line-height: 1.4rem;
	padding: .8rem 1.4rem;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1000
}

.prompt .icon-prompt {
	background-position: 50%;
	width: 1.4rem;
	height: 1.4rem;
	background-image: url(./images/icons/prompt.png);
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block
}

.dashboardScroll {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000
}

.dashboardScroll .dashboardScroll-inner,.dashboardScroll:after {
	height: calc(100% + 1px)
}

.modal-open .dashboardScroll {
	overflow-y: hidden
}

.modal-open .maskScroll {
	overflow-y: scroll
}

body {
	height: 100%
}

.page-index {
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

.fixed-menu .category-nav {
	background-color: #fff;
	width: 100%;
	
	z-index: 10000;
}
.fixed-menu .top {
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	height: 4.4rem;
	z-index: 10000;
}

.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	z-index: 1
}

.swiper-container .swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	box-sizing: content-box;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.swiper-container .swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	position: relative
}

.slider-swiper .swiper-wrapper {
	align-items: flex-start
}

.slider-swiper .swiper-wrapper .swiper-slide {
	width: 100%;
	height: 9.1rem;
	overflow: hidden
}

.slider-swiper .swiper-wrapper .swiper-slide img {
	min-width: 100%;
	height: 100%;
	border: none
}

.slider-swiper .swiper-pagination {
	width: 100%;
	position: absolute;
	bottom: .7rem;
	left: 0;
	text-align: center;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	transition: .3s;
	z-index: 10
}

.slider-swiper .swiper-pagination.swiper-pagination-hidden {
	opacity: 0
}

.slider-swiper .swiper-pagination .swiper-pagination-bullet {
	width: .65rem;
	height: .65rem;
	display: inline-block;
	border-radius: 100%;
	opacity: .7;
	margin: 0 .25rem;
	background-color: #353535
}

.slider-swiper .swiper-pagination .swiper-pagination-bullet-active {
	background-color: #f5f5f5;
	opacity: .9
}

.nav-swiper {
	line-height: 4rem
}

.nav-swiper .swiper-slide {
	width: auto;
	font-size: 1.4rem;
	color: #333;
	height: 4.4rem;
	line-height: 4.4rem;
	text-align: center;
	position: relative
}

.nav-swiper .swiper-slide:before {
	content: "";
	position: absolute;
	width: 200%;
	display: block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	border-radius: 0;
	background-clip: padding-box;
	border: 0 solid #e5e5e5;
	left: 0;
	bottom: 0;
	border-bottom-width: 1px
}

.iphone .nav-swiper .swiper-slide:before {
	border-bottom-width: 2px
}

.iphoneplus .nav-swiper .swiper-slide:before {
	border-bottom-width: 3px
}

.nav-swiper .swiper-slide.active-nav {
	color: #00c267
}

.nav-swiper .swiper-scrollbar-drag {
	position: absolute;
	width: 2.4rem;
	height: .25rem;
	background-color: #00c267;
	left: 0;
	bottom: 1px;
	visibility: hidden;
	-webkit-transition: all .4s;
	transition: all .4s
}

.iphone .nav-swiper .swiper-scrollbar-drag {
	bottom: 2px
}

.iphoneplus .nav-swiper .swiper-scrollbar-drag {
	bottom: 3px
}

.goods-swiper .swiper-slide {
}

.goods-swiper .swiper-slide>div {
	position: relative;
	text-align: left;
	font-size: 100%;
	padding: 0 1.4rem
}

.goods-swiper .swiper-slide>div .bdr-bom {
	padding: .8rem 0;
	position: relative
}

.goods-swiper .swiper-slide>div .bdr-bom:before {
	top: 0
}

.goods-swiper .swiper-slide>div .bdr-bom .img {
	width: 8rem;
	height: 8.6rem;
	margin-right: 1.1rem;
	vertical-align: middle;
	text-align: center;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	align-self: center
}

.goods-swiper .swiper-slide>div .bdr-bom .img img {
	height: 100%;
	width:100%;
	display: block;
	border-width: 0
}

.goods-swiper .swiper-slide>div .bdr-bom .img .discount {
	position: absolute;
	left: 0;
	top: 0;
	height: 1.6rem;
	width: 2.9rem;
	background-color: #fc7700;
	border-bottom-right-radius: .4rem;
	border-bottom-left-radius: .4rem
}

.goods-swiper .swiper-slide>div .bdr-bom .img .discount span {
	display: inline-block;
	color: #fff;
	font-size: 1rem;
	vertical-align: top
}

.goods-swiper .swiper-slide>div .bdr-bom .item-info {
	height: 8.6rem;
	overflow: hidden
}

.goods-swiper .swiper-slide>div .bdr-bom .item-info .solid-h {
	height: 6.9rem
}

.goods-swiper .swiper-slide>div .bdr-bom .item-info .g-title {
	color: #404040;
	font-size: 1.6rem;
	height: 1.8rem;
	
}

.goods-swiper .swiper-slide>div .bdr-bom .item-info .g-intro {
	line-height: 1.3rem;
	font-size: 1.1rem;
	color: #999;
	max-height: 2.6rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-wrap: break-word;
	word-break: break-all
}

.goods-swiper .swiper-slide>div .bdr-bom .g-tag {
	height: 1.65rem;
	margin-top: .4rem
}

.goods-swiper .swiper-slide>div .bdr-bom .g-tag span {
	color: #00c267;
	font-size: .9rem;
	display: -moz-inline-stack;
	display: inline-block;
	margin-right: .3rem;
	line-height: 1.2rem;
	position: relative;
	text-align: center;
	padding: .2rem .4rem;
	opacity: .8
}

.goods-swiper .swiper-slide>div .bdr-bom .g-tag span:before {
	content: "";
	position: absolute;
	width: 200%;
	display: block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	border-radius: .2rem;
	background-clip: padding-box;
	border: 1px solid #00c267;
	height: 200%;
	left: 0;
	top: 0
}

.iphone .goods-swiper .swiper-slide>div .bdr-bom .g-tag span:before {
	border-width: 2px
}

.iphoneplus .goods-swiper .swiper-slide>div .bdr-bom .g-tag span:before
	{
	border-width: 3px
}

.goods-swiper .swiper-slide>div .bdr-bom .g-price {
	font-size: 1rem;
	line-height: 100%;
	padding-top: .4rem
}

.goods-swiper .swiper-slide>div .bdr-bom .g-price del,.goods-swiper .swiper-slide>div .bdr-bom .g-price span
	{
	display: inline-block;
	vertical-align: baseline
}

.goods-swiper .swiper-slide>div .bdr-bom .g-price span {
	color: #999
}

.goods-swiper .swiper-slide>div .bdr-bom .g-price span.forsale {
	background-color: #fc7700;
	border-radius: .2rem;
	background-clip: padding-box;
	color: #fff;
	height: 1.4rem;
	width: 6.4rem;
	line-height: 1.4rem;
	position: relative;
	bottom: .3rem;
	margin-left: .4rem
}

.goods-swiper .swiper-slide>div .bdr-bom .g-price span.forsale:before {
	position: absolute;
	left: -1.34rem;
	top: 0;
	border-left: .7rem solid transparent;
	border-right: .7rem solid #fc7700;
	border-top: .7rem solid transparent;
	border-bottom: .7rem solid transparent;
	display: block;
	content: ""
}

.goods-swiper .swiper-slide>div .bdr-bom .g-price .s-price,.goods-swiper .swiper-slide>div .bdr-bom .g-price em
	{
	color: #fc7700;
	font-style: normal
}

.goods-swiper .swiper-slide>div .bdr-bom .g-price .s-price {
	font-size: 1.8rem
}

.goods-swiper .swiper-slide>div .bdr-bom .g-price .s-price em {
	font-size: 1.5rem;
	margin-right: .1rem;
	vertical-align: baseline
}

.goods-swiper .swiper-slide>div .bdr-bom .g-price del {
	color: #999;
	margin: 0 .2rem
}

.goods-swiper .swiper-slide>div .bdr-bom .vblock:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%
}

.goods-swiper .swiper-slide>div .bdr-bom .sellout-icon {
	position: absolute;
	right: -1.4rem;
	bottom: 0
}

.goods-swiper .swiper-slide>div .bdr-bom .icon-selled {
	background-position: 0 -7.4rem;
	width: 7.6rem;
	height: 7.6rem;
	background-image: url("../../../images/wx/ticket/sprite.png?v=1494496928110");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.goods-swiper .swiper-slide>div:not (:first-child ) .bdr-bom {
	position: relative
}

.goods-swiper .swiper-slide>div:not (:first-child ) .bdr-bom:before {
	content: "";
	position: absolute;
	width: 200%;
	display: block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	border-radius: 0;
	background-clip: padding-box;
	border: 0 solid #e5e5e5;
	left: 0;
	top: 0;
	border-top-width: 1px
}

.iphone .goods-swiper .swiper-slide>div:not (:first-child ) .bdr-bom:before
	{
	border-top-width: 2px
}

.iphoneplus .goods-swiper .swiper-slide>div:not (:first-child ) .bdr-bom:before
	{
	border-top-width: 3px
}

.goods-swiper .swiper-slide>div.sellout,.goods-swiper .swiper-slide>div:active
	{
	background-color: #f8f8f8
}

.goods-swiper .swiper-slide>div.sellout .g-intro,.goods-swiper .swiper-slide>div.sellout .g-price .s-price,.goods-swiper .swiper-slide>div.sellout .g-price em,.goods-swiper .swiper-slide>div.sellout .g-price span,.goods-swiper .swiper-slide>div.sellout .g-price sub,.goods-swiper .swiper-slide>div.sellout .g-tag .s-price,.goods-swiper .swiper-slide>div.sellout .g-tag em,.goods-swiper .swiper-slide>div.sellout .g-tag span,.goods-swiper .swiper-slide>div.sellout .g-tag sub,.goods-swiper .swiper-slide>div.sellout .g-title
	{
	color: #cacaca
}

.goods-swiper .swiper-slide>div.sellout .g-tag span:before {
	border: 1px solid #cacaca
}

.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide
	{
	height: auto
}

.swiper-container-autoheight .swiper-wrapper {
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-transition-property: -webkit-transform, height;
	transition-property: transform, height
}

.hr {
	height: 1px;
	margin: .8rem 0;
	position: relative;
	border-bottom: 1.5px solid #dfdfdf
}

.gap-h1 {
	height: 1.4rem;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	background-color: #f5f5f5
}

.quantity-form {
	position: relative;
	white-space: nowrap
}

.quantity-form .decrement,.quantity-form .increment {
	display: -moz-inline-stack;
	display: inline-block
}

.quantity-form .quantity {
	width: 2rem;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0;
	text-align: center;
	font-size: 1.2rem;
	-webkit-appearance: none;
	color: #262c2f;
	border: 1px solid #fff;
	background-color: transparent;
	font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
	-moz-user-select: none;
	-webkit-user-select: none;
	color: #darkGray
}

.quantity-form .quantity:disabled {
	color: #darkGray;
	font-weight: 700
}

.quantity-form .increment {
	background-position: 0 -15.4rem
}

.quantity-form .increment,.quantity-form .increment.disabled {
	width: 2.8rem;
	height: 2.8rem;
	background-image: url("../../../images/wx/ticket/sprite.png?v=1494496928110");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.quantity-form .increment.disabled {
	background-position: -3.2rem -15.4rem
}

.quantity-form .decrement {
	background-position: -12.4rem -11.9rem
}

.quantity-form .decrement,.quantity-form .decrement.disabled {
	width: 2.8rem;
	height: 2.8rem;
	background-image: url("../../../images/wx/ticket/sprite.png?v=1494496928110");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.quantity-form .decrement.disabled {
	background-position: -9.2rem -11.9rem
}

.calendar-full-btn button,.opt-full-btn button {
	display: block;
	width: 100%;
	background-color: #21ac39;
	height: 4.95rem;
	font-size: 1.8rem;
	color: #fff;
	border: 0
}

.calendar-full-btn button sub,.opt-full-btn button sub {
	font-size: 1.1rem;
	margin-right: .4rem
}

.calendar-full-btn button.disabled,.opt-full-btn button.disabled {
	background-color: #d3d3d3
}

.slidein {
	-webkit-animation-name: slideLn;
	animation-name: slideLn;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: none;
	animation-fill-mode: none
}

.slidein,.slideout {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.slideout {
	-webkit-animation-name: slideOut;
	animation-name: slideOut;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: none;
	animation-fill-mode: none
}

.fadein {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.fadein,.fadeout {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.fadeout {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.tools-menu {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4.6rem;
	box-sizing: border-box;
	z-index: 1000;
	background-color: hsla(0, 0%, 100%, .93)
}

.tools-menu .icon-wx-purchase {
	background-position: -5.4rem -18.6rem
}

.tools-menu .icon-my-order,.tools-menu .icon-wx-purchase {
	width: 2.3rem;
	height: 2rem;
	background-image: url("../../../images/wx/ticket/sprite.png?v=1494496928110");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.tools-menu .icon-my-order {
	background-position: 0 -18.6rem
}

.tools-menu .icon-card-package {
	background-position: -17.75rem -15.4rem;
	width: 2.3rem;
	height: 2rem;
	background-image: url("../../../images/wx/ticket/sprite.png?v=1494496928110");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.tools-menu .inner-menu {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100vw;
	position: relative
}

.tools-menu .inner-menu:before {
	content: "";
	position: absolute;
	width: 200%;
	display: block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	border-radius: 0;
	background-clip: padding-box;
	border: 0 solid #e8e8e8;
	left: 0;
	top: 0;
	border-top-width: 1px
}

.iphone .tools-menu .inner-menu:before {
	border-top-width: 2px
}

.iphoneplus .tools-menu .inner-menu:before {
	border-top-width: 3px
}

.tools-menu .inner-menu>div {
	-webkit-box-flex: 1;
	-moz-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: center;
	height: 4rem;
	padding-top: .6rem;
	align-content: space-between;
	position: relative
}

.tools-menu .inner-menu>div .dots {
	position: absolute;
	width: .7rem;
	height: .7rem;
	border-radius: 50%;
	background-clip: padding-box;
	background-color: #fc7700;
	left: 50%;
	margin-left: .3rem;
	visibility: hidden
}

.tools-menu .inner-menu>div .dots.show {
	visibility: visible
}

.tools-menu .inner-menu>div span {
	display: block;
	font-size: 1rem;
	color: #999;
	padding-top: .1rem
}

.tools-menu .inner-menu>div.active .icon-wx-purchase {
	background-position: -2.7rem -18.6rem
}

.tools-menu .inner-menu>div.active .icon-my-order,.tools-menu .inner-menu>div.active .icon-wx-purchase
	{
	width: 2.3rem;
	height: 2rem;
	background-image: url("../../../images/wx/ticket/sprite.png?v=1494496928110");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.tools-menu .inner-menu>div.active .icon-my-order {
	background-position: -8.1rem -18.6rem
}

.tools-menu .inner-menu>div.active .icon-card-package {
	background-position: -15.05rem -15.4rem;
	width: 2.3rem;
	height: 2rem;
	background-image: url("../../../images/wx/ticket/sprite.png?v=1494496928110");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

@
-webkit-keyframes slideLn { 0%{
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}

to {
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

}
@
keyframes slideLn { 0%{
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}

to {
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

}
@
-webkit-keyframes slideOut { 0%{
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

to {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}

}
@
keyframes slideOut { 0%{
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

to {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}

}
@
-webkit-keyframes fadeIn { 0%{
	opacity: 0
}

to {
	opacity: 1
}

}
@
keyframes fadeIn { 0%{
	opacity: 0
}

to {
	opacity: 1
}

}
@
-webkit-keyframes fadeOut { 0%{
	opacity: 1
}

to {
	opacity: 0
}

}
@
keyframes fadeOut { 0%{
	opacity: 1
}

to {
	opacity: 0
}

}
@
-webkit-keyframes shake { 0%,
	to {-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

12
.5 %, 37.5 %, 62.5 %{
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0)
}

25%,50%,75
.5 %{
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0)
}

}
@
keyframes shake { 0%,
	to {-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

12
.5 %, 37.5 %, 62.5 %{
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0)
}

25%,50%,75
.5 %{
	-webkit-transform: translate3d(10px, 0, 0);
	transform: translate3d(10px, 0, 0)
}

} /*! * Mixins */ /*! * Mixins */
/*! * Mixins    * size  btn-lg default sm  xs * color  default primary success info warning danger dark disabled * type  Rounded dropdowns icon groups components */
.m-datepicker .mask {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .75);
	left: 0;
	top: 0;
	z-index: 10;
	transition: all 1s
}

.m-datepicker .datepicker {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 900;
	background-color: #fff;
	width: 100%;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	overflow: hidden
}

.m-datepicker .datepicker .m-header {
	font-size: 1.7rem;
	height: 4.3rem;
	line-height: 4.3rem;
	text-align: left
}

.m-datepicker .datepicker .m-header .close-wrap {
	padding: 0 1.4rem 0 2.8rem
}

.m-datepicker .datepicker .m-header .m-h-title {
	margin: 0;
	position: relative;
	border-bottom: 1px solid #d3d3d3;
	background-color: #fafafa
}

.m-datepicker .datepicker .m-header .title {
	text-align: left;
	padding-left: 1.4rem;
	font-size: 1.5rem;
	position: relative
}

.m-datepicker .datepicker .m-header .title:before {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1rem;
	content: "";
	width: .4rem;
	height: 2rem;
	background-color: #00c267
}

.m-datepicker .tbody {
	position: relative;
	overflow: hidden;
	border-right: 1.5px solid #d3d3d3;
	padding: .8rem 0;
	box-sizing: border-box
}

.m-datepicker .tbody .tr-row>div {
	border-radius: 50%
}

.m-datepicker .tbody .tr-row>div:nth-child(odd) {
	z-index: 14
}

.m-datepicker .tbody .tr-row>div:nth-child(even) {
	z-index: 13
}

.m-datepicker .tbody .tr-row>div.active {
	background-color: #fc7700
}

.m-datepicker .tbody .tr-row>div.active em,.m-datepicker .tbody .tr-row>div.active span
	{
	color: #fff
}

.m-datepicker .tr-row {
	height: 4.2rem;
	line-height: 4.2rem;
	text-align: center;
	font-size: 1.4rem
}

.m-datepicker .tr-row>div {
	position: relative;
	z-index: 12;
	height: 14.28571vw
}

.m-datepicker .tr-row>div em,.m-datepicker .tr-row>div span {
	position: absolute;
	left: 0;
	display: block;
	width: 100%;
	text-align: center
}

.m-datepicker .tr-row>div span {
	display: inline-block;
	width: 100%;
	top: 1.2rem;
	line-height: 1.2rem;
	color: #ccc
}

.m-datepicker .tr-row>div.allowed span {
	color: #333
}

.m-datepicker .tr-row>div .icon-date-slected {
	visibility: hidden;
	position: absolute;
	right: -.1rem;
	top: -.15rem
}

.m-datepicker .tr-row>div.active .icon-date-slected {
	visibility: visible;
	z-index: 1000
}

[data-device-type=android] .m-datepicker .tr-row>div.active .icon-date-slected
	{
	top: -.2rem
}

.m-datepicker .tr-row>div em {
	font-size: .85rem;
	color: #fc7700;
	font-style: normal;
	line-height: 1rem;
	top: 2.7rem
}

.m-datepicker .tr-row>div.next,.m-datepicker .tr-row>div.prev {
	-webkit-box-flex: 2;
	flex: 2
}

.m-datepicker .tr-row>div.prev {
	text-align: left;
	padding-left: 1.4rem
}

.m-datepicker .tr-row>div.prev.disabled {
	opacity: .5
}

.m-datepicker .tr-row>div.next {
	text-align: right;
	padding-right: 1.4rem
}

.m-datepicker .tr-row.week-row {
	background-color: #fafafa;
	font-size: 1.2rem;
	color: #333;
	height: 3.3rem
}

.m-datepicker .tr-row.week-row .weekend {
	color: #00c267
}

.m-datepicker .tr-row .new,.m-datepicker .tr-row .old {
	color: #d3d3d3
}

.m-datepicker .tr-row .datepicker-switch {
	-webkit-box-flex: 3;
	flex: 3;
	text-align: center;
	font-size: 1.5rem
}

.icon-switch-l {
	background-position: -8rem -10.6rem
}

.icon-switch-l,.icon-switch-r {
	width: .7rem;
	height: 1.2rem;
	background-image: url("../../../images/wx/ticket/sprite.png?v=1494496928110");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.icon-switch-r {
	background-position: -8rem -7.4rem
}

.icon-close {
	background-position: -15.95rem -18.6rem;
	width: 2rem;
	height: 1.8rem;
	background-image: url("../../../images/wx/ticket/sprite.png?v=1494496928110");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.bg-backhome {
	height: 100%;
	background-color: #f0f0f0
}

.backhome .offshelf {
	padding: 6rem 0 4rem
}

.backhome .offshelf .icon-offshelf {
	width: 24.4rem;
	height: 9rem;
	background: url(./images/offshelf.png) no-repeat 50%;
	background-size: 100%;
	margin: 0 auto
}

.backhome .message {
	text-align: center;
	font-size: 1.5rem;
	color: #727272;
	padding: 1.4rem
}

.backhome .btnbox {
	text-align: center;
	padding-top: 5rem
}

.backhome .btnbox button {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	position: relative;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: manipulation;
	background-color: #7acd89;
	border: 1px solid transparent;
	padding: .4rem 2rem;
	color: #fff;
	font-size: 1.5rem;
	border-radius: .4rem;
	background-clip: padding-box
}

</
style> <meta name ="viewport" content ="initial-scale=1,maximum-scale =1,minimum-scale
	=1,user-scalable =no">.tools-menu .inner-menu>div.active span {
	color: #00c267
}

.m-mask {
	background-color: transparent;
	transition: all 1s
}

.dialog-wrap-info {
	background-color: hsla(0, 0%, 57%, .7);
	z-index: 1000;
	width: 60%;
	border-radius: .4rem
}

.dialog-wrap-info .dialog-content-info {
	display: table;
	width: 100%;
	height: 100%
}

.dialog-wrap-info .dialog-content-info .dialog-content-bd {
	display: table-cell;
	padding: 3rem 2rem;
	text-align: center;
	color: #fff;
	font-size: 1.5rem
}

.m-alert-dialog,.m-confirm-dialog {
	width: 25rem;
	background-color: #fff;
	border-radius: .4rem;
	text-align: center;
	margin: 0 auto
}

.m-alert-dialog .tip,.m-confirm-dialog .tip {
	border-bottom: 1.5px solid #dfdfdf
}

.m-alert-dialog .tip .tip-head,.m-confirm-dialog .tip .tip-head {
	background-color: #f5f5f5;
	height: 3.4rem;
	line-height: 3.4rem
}

.m-alert-dialog .tip .tip-title,.m-confirm-dialog .tip .tip-title {
	font-size: 1.5rem;
	color: #727272;
	text-align: center
}

.m-alert-dialog .tip .tip-close,.m-confirm-dialog .tip .tip-close {
	padding: 0 1rem 0 2rem;
	font-size: 1.5rem;
	color: #21ab38;
	position: absolute;
	right: 0
}

.m-alert-dialog .tip div.content,.m-confirm-dialog .tip div.content {
	padding: 1.5rem 1.5rem 4rem;
	font-size: 1.2rem;
	line-height: 1.8rem
}

.m-alert-dialog .alert,.m-confirm-dialog .alert {
	padding: 1.2rem 0;
	color: #727272;
	font-size: 1.5rem
}

.m-alert-dialog .operate,.m-confirm-dialog .operate {
	height: 2.8rem
}

.m-alert-dialog .operate span,.m-confirm-dialog .operate span {
	display: block;
	align-self: center;
	line-height: 2.8rem
}

.m-alert-dialog .operate span:last-child,.m-confirm-dialog .operate span:last-child
	{
	color: #21ab38
}

.m-confirm-dialog {
	left: 50% !important;
	top: 50% !important;
	width: 80%;
	margin-left: -40%;
	margin-top: -40%
}

.m-dialog {
	-moz-border-top-left-radius: .5rem;
	border-top-left-radius: .5rem;
	-moz-border-top-right-radius: .5rem;
	border-top-right-radius: .5rem;
	overflow: hidden;
	background-color: #fff;
	width: 100%
}

.m-dialog .icon-close {
	background-position: -15.95rem -18.6rem;
	width: 2rem;
	height: 1.8rem;
	background-image: url("../../../images/wx/ticket/sprite.png?v=1494496928110");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.m-dialog .dialog-head {
	font-size: 1.6rem;
	color: #333;
	background-color: #fafafa;
	height: 4.4rem;
	box-sizing: border-box;
	position: relative;
	border-bottom: 1.5px solid #dfdfdf
}

.m-dialog .dialog-head .close-wrap,.m-dialog .dialog-head .title {
	display: block;
	-ms-flex-item-align: center;
	align-self: center
}

.m-dialog .dialog-head .title {
	padding-left: 1.4rem;
	position: relative
}

.m-dialog .dialog-head .title:before {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1rem;
	content: "";
	width: .4rem;
	height: 2rem;
	background-color: #00c267
}

.m-dialog .dialog-head .close-wrap {
	text-align: right;
	padding-left: 2.8rem;
	padding-right: 1.4rem
}

.m-dialog .dialog-inner {
	overflow: hidden
}

.m-dialog .dialog-inner .dialog-content {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

.m-dialog .dialog-operate {
	box-shadow: 0 -2px 5px rgba(1, 1, 1, .1)
}

.m-dialog .dialog-operate button {
	display: block;
	width: 100%;
	background-color: #00c267;
	height: 4.6rem;
	font-size: 1.8rem;
	color: #fff;
	border: 0
}

.m-dialog .dialog-operate button sub {
	font-size: 1.1rem;
	margin-right: .4rem
}

.m-dialog .dialog-operate button.disabled {
	background-color: #d3d3d3
}

.m-dialog .article {
	padding: 1rem;
	color: #727272;
	font-size: 1.1rem
}

.m-dialog .article h5 {
	font-size: 1.1rem;
	padding: .35rem 0
}

.m-dialog .article p {
	line-height: 1.75rem;
	padding-bottom: .4rem
}

@
-webkit-keyframes slidein { 0%{
	transform: translate3d(0, 100%, 0)
}

to {
	transform: translateZ(0)
}

}
.weui-mask {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(11, 14, 23, .7)
}

.weui-dialog {
	position: fixed;
	z-index: 5000;
	width: 85%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #fdfdfe;
	text-align: center;
	border-radius: .4rem;
	background-clip: padding-box;
	overflow: hidden
}

.weui-dialog .dialog-inner {
	width: 96%
}

.weui-dialog .weui-dialog-hd {
	padding: 2rem 1rem 0
}

.weui-dialog .weui-dialog-hd .weui-dialog-title {
	font-size: 1.5rem;
	color: #262c2f
}

.weui-dialog .weui-dialog-bd {
	text-align: center;
	padding: 1rem 1.4rem 2rem;
	font-size: 1.2rem;
	color: #727272;
	word-wrap: break-word;
	word-break: break-all
}

.weui-dialog .weui-dialog-bd p {
	display: inline-block;
	text-align: justify
}

.weui-dialog .weui-dialog-ft {
	position: relative;
	line-height: 4.3rem;
	border-top: 1.5px solid #dfdfdf;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.weui-dialog .weui-dialog-ft span {
	position: relative;
	display: block;
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #21ac39;
	font-size: 1.5rem;
	-webkit-tap-highlight-color: transparent
}

.weui-dialog .weui-dialog-ft span:first-child {
	border-right: 1.5px solid #dfdfdf
}

.weui-dialog .weui-dialog-ft .cancel {
	color: #666;
	font-size: 1.4rem
}

.weui-dialog-message .weui-mask-transparent {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0
}

.weui-dialog-message .weui-toast {
	background-color: rgba(0, 0, 0, .7);
	font-size: 1.4rem;
	color: #fff;
	border-radius: 1.4rem;
	background-clip: padding-box;
	padding: .8rem 2.4rem
}

.weui-dialog-window {
	border-radius: .4rem;
	background-clip: padding-box;
	background-color: #fff;
	width: 92%;
	padding-bottom: 1rem
}

.weui-dialog-window .head-inner {
	padding: 1.4rem 0
}

.weui-dialog-window .title {
	border-left: .4rem solid #22ad3a;
	font-size: 1.5rem;
	color: #262c2f;
	padding-left: .6rem
}

.weui-dialog-window .close-wrap {
	padding: 0 1.4rem 0 2rem
}

.weui-dialog-window .dialog-inner {
	padding: 0 1rem;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

.weui-dialog-window .dialog-inner .dialog-content {
	padding: 1rem 0;
	border-top: 1.5px solid #d3d3d3;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

.weui-dialog-window .dialog-inner .dialog-content img {
	max-width: 100%
}