html {
	font-size: 12.28125px !important;
}

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: middle
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

fieldset,img {
	border: 0
}

*,a,a:active,a:focus,button,div:active,div:focus,img,input,input:active,input:focus,textarea
	{
	-webkit-tap-highlight-color: transparent
}

a:focus,button:focus,input:focus {
	outline: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block
}

html {
	color: #333;
	height: 100%;
	-webkit-user-select: none;
	user-select: none
}

* {
	max-height: 999999px
}

#debuggapRoot .dg-out {
	width: 5rem !important;
	height: 5rem !important;
	border-radius: 50% !important
}

#debuggapRoot .dg-inner {
	width: 4rem !important;
	height: 4rem !important;
	border-radius: 50% !important;
	margin: .5rem !important
}

body {
	font-size: 1.2rem;
	line-height: 1.5;
	font-family: PingFang SC, -apple-system, Heiti SC, Helvetica,
		Helvetica Neue, Droid Sans Fallback, Droid Sans;
	height: auto;
	min-height: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	flex-direction: column;
	-webkit-text-size-adjust: none
}

body.not-flex {
	display: block
}

ol,ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
	content: ''
}

a {
	text-decoration: none
}

.scrolling {
	-webkit-overflow-scrolling: touch
}

.booked .form-group,.confirm-order .goods-info,.confirm-order .price-info,.confirm-order .user-info,.flex-column,.flex-row,.m-alert-dialog .operate,.m-alert-dialog .tip .tip-head,.m-confirm-dialog 
.operate,.m-confirm-dialog .tip .tip-head,.m-datepicker .datepicker .m-header .m-h-title,.m-datepicker .tr-row,.m-dialog 
.dialog-head,.m-stretch-swiper {
	display: -webkit-box;
	display: flex
}

.confirm-order .goods-info,.confirm-order .price-info,.confirm-order .user-info,.flex-column,.m-stretch-swiper
	{
	-webkit-box-orient: vertical;
	flex-direction: column
}

.flex-item,.m-alert-dialog .operate span,.m-alert-dialog .tip .tip-title,.m-confirm-dialog .operate span,.m-confirm-dialog .tip 
.tip-title,.m-datepicker .datepicker .m-header .title,.m-datepicker .tr-row>div,.m-dialog .dialog-head .title,.m-stretch-swiper>.swiper-wrapper,.pbd
	{
	-webkit-box-flex: 1;
	flex: 1
}

.flex-vertical-middle {
	-webkit-box-align: center;
	align-items: center
}

.m-stretch-swiper>.swiper-wrapper {
	-webkit-box-align: stretch;
	align-items: stretch
}

.m-stretch-swiper>.swiper-wrapper>.swiper-slide {
	height: auto
}

.single-line-clamp {
	white-space: nowrap;
	word-break: break-all
}

.ellipsis,.single-line-clamp {
	overflow: hidden;
	text-overflow: ellipsis
}

.ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical
}

.pbd {
	-webkit-user-select: none;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

.border-box {
	box-sizing: border-box
}

.prompt {
	font-size: 1.1rem;
	color: #ff7800;
	background-color: #faf6de;
	line-height: 1.4rem;
	padding: .8rem 1.4rem;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1000
}

.prompt 
.icon-prompt {
	background-position: 50%;
	width: 1.4rem;
	height: 1.4rem;
	background-image: url(./images/icons/prompt.png);
	background-repeat: no-repeat;
	background-size: 100%;
	display: inline-block
}

.dashboardScroll {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translateZ(0);
	-webkit-perspective: 1000
}

.dashboardScroll .dashboardScroll-inner,.dashboardScroll:after {
	height: calc(100% + 1px)
}

.modal-open .dashboardScroll {
	overflow-y: hidden
}

.modal-open .maskScroll {
	overflow-y: scroll
}

body {
	height: 100%;
	background-color: #f5f5f5
}

:-moz-placeholder {
	color: #999;
	font-size: 1.5rem
}

::-webkit-input-placeholder {
	color: #999;
	font-size: 1.5rem
}

.icon-coupon {
	background-position: -13.55rem -18.6rem;
	width: 2rem;
	height: 1.8rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.booked {
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-color: #f2f2f2
}

.booked 
 		.icon-contact {
	background-position: -9.4rem -15.4rem;
	width: 2.4rem;
	height: 2.5rem;
	background-image: url("../../../images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.booked 
 		.adaptive {
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.booked 
 		.wrap-box {
	background-color: #fff;
	padding: 0 1.4rem;
	margin-bottom: 1.1rem
}

.booked .buynumber,.booked .goods-info,.booked 
 		.use-date {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.booked .buynumber>div,.booked .goods-info>div,.booked 
 		.use-date>div {
	-ms-flex-item-align: center;
	align-self: center
}

.booked .buynumber .label,.booked .goods-info .label,.booked .use-date 
 		.label {
	color: #333;
	font-size: 1.4rem
}

.booked 
 		.goods-info {
	padding: 1rem 0;
	height: 4.4rem;
	box-sizing: border-box;
	position: relative
}

.booked .goods-info:before {
	content: "";
	position: absolute;
	width: 200%;
	display: block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	border-radius: 0;
	background-clip: padding-box;
	border: 0 solid #e5e5e5;
	left: 0;
	bottom: 0;
	border-bottom-width: 1px
}

.iphone .booked .goods-info:before {
	border-bottom-width: 2px
}

.iphoneplus 
 		.booked .goods-info:before {
	border-bottom-width: 3px
}

.booked .goods-info 
 		.title {
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 1.6rem;
	height: 1.6rem;
	line-height: 1.6rem;
	color: #333
}

.booked 
 		.goods-info .price {
	color: #fc7700;
	font-size: 1.8rem
}

.booked .goods-info .price em {
	font-size: 1.5rem
}

.booked .goods-info 
 		.price span {
	vertical-align: baseline
}

.booked .use-date {
	padding: 1rem 0;
	position: relative
}

.booked
 		.use-date:before {
	content: "";
	position: absolute;
	width: 200%;
	display: block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	border-radius: 0;
	background-clip: padding-box;
	border: 0 solid #e5e5e5;
	left: 0;
	bottom: 0;
	border-bottom-width: 1px
}

.iphone .booked
 		.use-date:before {
	border-bottom-width: 2px
}

.iphoneplus .booked 
 		.use-date:before {
	border-bottom-width: 3px
}

.booked .use-date 
 		.datelist {
	width: 100%;
	text-align: right;
}

.booked .use-date .datelist 
 		.icon-more-date-gray {
	background-position: -20.3rem -4.6rem;
	width: .6rem;
	height: .9rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.booked 
 		.use-date .datelist .date-item {
	display: -moz-inline-stack;
	display: inline-block;
	font-size: 1rem;
	color: #333;
	border: 1px solid #d4d4d4;
	border-radius: .2rem;
	margin-left: .2rem;
	width: 63px;
	height: 2.8rem;
	box-sizing: border-box;
	line-height: 2.8rem;
	text-align: center
}

.booked .use-date .datelist .date-item .date-text {
	font-size: 11px
}

.booked .use-date 
 		.datelist .date-item .date-num {
	font-size: 1.0rem;
	color: #fc7700
}

.booked .use-date .datelist 
 		.date-item.active {
	background-color: #fc7700;
	color: #fff;
	border: 1px solid transparent
}

.booked 
 		.use-date .datelist .date-item.active .date-num {
	color: #fff
}

.booked .use-date .datelist 
 		.date-item.active .icon-more-date-gray {
	background-position: -20.3rem -5.9rem;
	width: .6rem;
	height: .9rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.booked 
 		.buynumber {
	padding: 1rem 0
}

.booked .buynumber .limit {
	font-size: 0.7em;
	color: #999
}

.booked .buynumber 
 		.quantity {
	font-weight: 700
}

.booked .extra {
	position: absolute;
	right: -1.4rem;
	top: 0;
	padding: 1rem 1.4rem;
	z-index: 8
}

.booked .form-group {
	padding: 1rem 0;
	height: 4.5rem;
	box-sizing: border-box;
	position: relative
}

.booked 
 		.form-group>div {
	-ms-flex-item-align: center;
	align-self: center
}

.booked .form-group .item-feild {
	position: relative
}

.booked .form-group 
 		.label {
	padding-right: 1.2rem;
	white-space: nowrap;
	color: #333;
	font-size: 1.4rem
}

.booked .form-group 
 		.form-control {
	font-size: 1.4rem;
	line-height: 2.6rem;
	border: 1px solid transparent;
	width: 100%;
	height: 2.6rem;
	color: #333
}

.booked 
 		.form-group .form-control :-moz-placeholder {
	color: #999
}

.booked .form-group 
 		.form-control ::-webkit-input-placeholder {
	color: #999
}

.booked .form-group 
 		.empty::-webkit-input-placeholder {
	color: #fc7700
}

.booked .form-group 
 		.empty:-moz-placeholder,.booked .form-group .empty::-moz-placeholder
	{
	color: #fc7700
}

.booked 
 		.form-group .empty:-ms-input-placeholder {
	color: #fc7700
}

.booked .form-group .error {
	color: #fc7700
}

.booked 
 		.form-group em i {
	position: absolute;
	white-space: nowrap;
	right: .2rem;
	font-size: 1rem;
	background-color: #fc7700;
	color: #fff;
	display: inline-block;
	padding: .2rem .6rem;
	top: .6rem;
	border-radius: .4rem
}

.booked 
 		.couponbox {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 4.5rem;
	box-sizing: border-box
}

.booked 
 		.couponbox .label {
	font-size: 1.4rem;
	color: #666
}

.booked .couponbox 
 		.icon-right {
	background-position: -1.3rem -23.4rem;
	width: .85rem;
	height: 1.3rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.booked 
 		.couponbox .output {
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	text-align: right
}

.booked 
 		.couponbox .output span {
	color: #333;
	font-size: 1.4rem;
	margin-right: .5rem
}

.booked .couponbox 
 		.output span em {
	font-size: 1.5rem
}

.booked .couponbox .output span.no-coupon {
	color: #999;
	margin-right: 0;
	font-size: 1.4rem
}

.booked 
 		.couponbox .output:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%
}

.booked 
 		.detailtab {
	background-color: #fbfbfb
}

.booked .detailtab .tab-menu {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	background-color: #fff;
	text-align: center;
	height: 4.2rem;
	position: relative
}

.booked 
 		.detailtab .tab-menu:before {
	content: "";
	position: absolute;
	width: 200%;
	display: block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	border-radius: 0;
	background-clip: padding-box;
	border: 0 solid #e5e5e5;
	left: 0;
	bottom: 0;
	border-bottom-width: 1px
}

.iphone .booked .detailtab 
 		.tab-menu:before {
	border-bottom-width: 2px
}

.iphoneplus .booked .detailtab .tab-menu:before {
	border-bottom-width: 3px
}

.booked 
 		.detailtab 
 		.tab-menu>div {
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-ms-flex-item-align: center;
	align-self: center;
	line-height: 4.2rem;
	height: 4.2rem;
	position: relative;
	font-size: 1.4rem;
	color: #333
}

.booked 
 		.detailtab .tab-menu>div.active {
	color: #00c267
}

.booked .detailtab 
 		.tab-menu>div.swiper-scrollbar-drag {
	position: absolute;
	width: 2.4rem;
	height: .3rem;
	background-color: #00c267;
	left: 0;
	bottom: -.1rem;
	visibility: hidden;
	-webkit-transition: all .4s;
	transition: all .4s
}

.booked .detailtab 
 		.tab-menu.menu-fixed {
	position: fixed;
	top: 0;
	width: 100%;
	height: 4.2rem;
	z-index: 1000
}

.booked .detailtab .tab-content 
 		.swiper-slide {
	background-color: #fafafa
}

.booked .detailtab .tab-content 
 		.article {
	padding: 1.4rem;
	font-size: 1.2rem;
	color: #666
}

.booked .detailtab 
 		.tab-content .article img {
	max-width: 100%
}

.confirm-order {
	font-size: 1.2rem;
	color: #666;
	padding-left: 1.4rem;
	padding-right: 1.4rem
}

.confirm-order .goods-info,.confirm-order .price-info,.confirm-order 
 		.user-info {
	position: relative;
	padding-top: .6rem;
	padding-bottom: .6rem
}

.confirm-order 
 		.goods-info:before,.confirm-order .price-info:before,.confirm-order 
 		.user-info:before {
	content: "";
	position: absolute;
	width: 200%;
	display: block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	border-radius: 0;
	background-clip: padding-box;
	border: 0 solid #e5e5e5;
	left: 0;
	top: 0;
	border-top-width: 1px
}

.iphone 
 		.confirm-order .goods-info:before,.iphone .confirm-order .price-info:before,.iphone .confirm-order 
 		.user-info:before {
	border-top-width: 2px
}

.iphoneplus .confirm-order .goods-info:before,.iphoneplus 
 		.confirm-order .price-info:before,.iphoneplus .confirm-order .user-info:before
	{
	border-top-width: 3px
}

.confirm-order 
 		.goods-info {
	height: 8.4rem;
	box-sizing: border-box;
	justify-content: center
}

.confirm-order .goods-info 
 		.title {
	font-size: 1.6rem;
	color: #333;
	font-weight: 700;
	height: 1.6rem;
	line-height: 1.6rem;
	margin-bottom: .6rem
}

.confirm-order 
 		.goods-info .number,.confirm-order .goods-info .usedate {
	margin-bottom: .6rem
}

.confirm-order .goods-info .number,.confirm-order 
 		.goods-info .usedate,.confirm-order .goods-info .validrang {
	font-size: 1.2rem;
	height: 1.2rem;
	line-height: 1.2rem;
	color: #666
}

.confirm-order 
 		.user-info {
	height: 6.5rem;
	box-sizing: border-box;
	justify-content: center
}

.confirm-order .user-info .row-info 
 		.row-label {
	margin-right: 1.2rem
}

.confirm-order .user-info .row-info .row-text {
	color: #333
}

.confirm-order 
 		.user-info .row-info:first-child {
	padding-bottom: .6rem
}

.confirm-order 
 		.price-info {
	height: 6.5rem;
	box-sizing: border-box;
	justify-content: center
}

.confirm-order .price-info 
 		.row-flex {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.confirm-order 
 		.price-info .row-flex .item-flex {
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.confirm-order 
 		.price-info .row-flex.discount {
	margin-top: .4rem
}

.confirm-order .price-info .row-flex 
 		.price {
	font-size: 1.2rem;
	vertical-align: baseline;
	color: #333
}

.confirm-order .price-info 
 		.row-flex .price em,.confirm-order .price-info em {
	color: #999
}

.confirm-order .price-info 
 		.cash-price {
	color: #fc7700;
	font-size: 1.2rem;
	vertical-align: baseline
}

.checkout {
	position: relative
}

.checkout 
 		.terms {
	padding: 1rem 1.4rem;
	height: 4.5rem;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, .75);
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.checkout .terms 
 		.pact-checkbox {
	background-position: -23.85rem -8.2rem;
	width: 1.6rem;
	height: 1.5rem;
	background-image: url("../../../images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.checkout .terms .pact-check {
	width: 2.2rem
}

.checkout .terms .pact-intro {
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.checkout .terms .pact-intro 
 		h2 {
	color: #fff;
	font-size: 1.2rem
}

.checkout .terms .pact-intro p {
	color: hsla(0, 0%, 100%, .75);
	font-size: .9rem
}

.checkout
 		 .terms.active .pact-checkbox {
	background-position: -23.85rem -6.3rem;
	width: 1.6rem;
	height: 1.5rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.checkout .sheet {
	position: relative
}

.checkout .sheet .submitbtn,.checkout .sheet 
 		 .total {
	height: 4.6rem;
	text-align: center;
	font-size: 1.6rem
}

.checkout .sheet .submitbtn:before,.checkout 
 		 .sheet .total:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%
}

.checkout .sheet 
 		 .submitbtn>span,.checkout .sheet .total>span {
	display: inline-block;
	vertical-align: middle
}

.checkout .sheet 
 		 .total {
	width: 60vw;
	color: #666
}

.checkout .sheet .total .price {
	color: #fc7700;
	vertical-align: baseline;
	margin-right: .4rem
}

.checkout .sheet .total .price em {
	font-size: 1.5rem
}

.checkout .sheet .total .units {
	vertical-align: baseline;
	font-size: 1.3rem;
	color: #666
}

.checkout .sheet .submitbtn {
	background-color: #00c267;
	position: absolute;
	right: 0;
	top: 0;
	width: 40vw;
	color: #fff
}

.user-bind {
	font-size: 1.2rem;
	color: #666;
	text-align: left;
	line-height: 1.8rem
}

.user-bind strong {
	color: #333
}

.m-dialog.confirm-submit 
 		 .dialog-operate {
	position: relative
}

.m-dialog.confirm-submit 
 		 .dialog-operate:before {
	content: "";
	position: absolute;
	width: 200%;
	display: block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	border-radius: 0;
	background-clip: padding-box;
	border: 0 solid #e5e5e5;
	left: 0;
	top: 0;
	border-top-width: 1px
}

.iphone .m-dialog.confirm-submit 
 		 .dialog-operate:before {
	border-top-width: 2px
}

.iphoneplus .m-dialog.confirm-submit 
 		 .dialog-operate:before {
	border-top-width: 3px
}

.m-dialog.confirm-submit 
 		 .dialog-operate button {
	display: -moz-inline-stack;
	display: inline-block;
	font-size: 1.6rem
}

.m-dialog.confirm-submit 
 		 .dialog-operate .white-btn {
	background-color: #fff;
	width: 60vw;
	color: #fc7700;
	font-size: 1.6rem;
	vertical-align: baseline
}

.m-dialog.confirm-submit .dialog-operate .white-btn em {
	font-size: 1.6rem
}

.m-dialog.confirm-submit
 		  .dialog-operate .white-btn .number {
	color: #666;
	font-size: 1.6rem;
	margin-left: .4rem
}

.m-dialog.confirm-submit .dialog-operate 
 		  .soonpay-btn {
	width: 40vw
}

.contactlist {
	padding: 0 1.4rem
}

.contactlist .item-row {
	height: 4.3rem;
	padding: 1rem 0;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.contactlist
 
.item-row
:not
 
(
:first-child
 
){
position
:
 
relative


}
.contactlist 
 		  .item-row:not (:first-child ):before {
	content: "";
	position: absolute;
	width: 200%;
	display: block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	border-radius: 0;
	background-clip: padding-box;
	border: 0 solid #e5e5e5;
	left: 0;
	top: 0;
	border-top-width: 1px
}

.iphone 
 		  .contactlist .item-row:not (:first-child ):before {
	border-top-width: 2px
}

.iphoneplus .contactlist 
 		  .item-row:not (:first-child ):before {
	border-top-width: 3px
}

.contactlist 
 		  .item-row>div {
	-ms-flex-item-align: center;
	align-self: center
}

.contactlist 
 		  .item-row .contact-info {
	line-height: 2rem;
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #333;
	font-size: 1.4rem
}

.contactlist .item-row .contact-info 
 		  .label {
	color: #666
}

.couponlist {
	padding: 0 1.4rem;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

.couponlist 
 		  .item-row {
	padding: 1rem 0;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.couponlist
 
 		  
.item-row
:not
 
(
:first-child
 
){
position
:
 
relative


}
.couponlist .item-row:not (:first-child ):before {
	content: "";
	position: absolute;
	width: 200%;
	display: block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	border-radius: 0;
	background-clip: padding-box;
	border: 0 solid #e5e5e5;
	left: 0;
	top: 0;
	border-top-width: 1px
}

.iphone 
 		  .couponlist .item-row:not (:first-child ):before {
	border-top-width: 2px
}

.iphoneplus 
 		  .couponlist .item-row:not (:first-child ):before {
	border-top-width: 3px
}

.couponlist 
 		  .item-row>div {
	-ms-flex-item-align: center;
	align-self: center
}

.couponlist .item-row 
 		  .coupon-info {
	line-height: 2rem;
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.couponlist 
 		  .item-row .coupon-info .label-num {
	font-size: 1.4rem
}

.couponlist .item-row .coupon-info 
 		  .label-num span {
	color: #fc7700;
	font-size: 2.4rem;
	vertical-align: baseline
}

.couponlist .item-row 
 		  .coupon-info .label-num span em {
	font-size: 1.4rem
}

.couponlist .item-row .coupon-info 
 		  .label-num span.re-visit {
	display: -moz-inline-stack;
	display: inline-block;
	color: #fff;
	font-size: .9rem;
	background-color: #00c267;
	border-radius: .4rem;
	background-clip: padding-box;
	padding: 0 .4rem;
	line-height: 1.3rem
}

.couponlist 
 		  .item-row .coupon-info .date {
	color: #666
}

.radio-box 
 		  .icon-radio {
	background-position: -21.3rem -12rem
}

.item-checked .radio-box .icon-radio,.radio-box 
 		  .icon-radio {
	width: 2rem;
	height: 1.8rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.item-checked 
 		  .radio-box .icon-radio {
	background-position: -21.3rem -16.4rem
}

.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	z-index: 1
}

.swiper-container .swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	box-sizing: content-box;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.swiper-container .swiper-slide {
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	position: relative
}

.m-mask {
	background-color: transparent;
	transition: all 1s
}

.dialog-wrap-info {
	background-color: hsla(0, 0%, 57%, .7);
	z-index: 1000;
	width: 60%;
	border-radius: .4rem
}

.dialog-wrap-info .dialog-content-info {
	display: table;
	width: 100%;
	height: 100%
}

.dialog-wrap-info 
 .dialog-content-info .dialog-content-bd {
	display: table-cell;
	padding: 3rem 2rem;
	text-align: center;
	color: #fff;
	font-size: 1.5rem
}

.m-alert-dialog,.m-confirm-dialog {
	width: 25rem;
	background-color: #fff;
	border-radius: .4rem;
	text-align: center;
	margin: 0 auto
}

.m-alert-dialog .tip,.m-confirm-dialog 
 .tip {
	border-bottom: 1.5px solid #dfdfdf
}

.m-alert-dialog .tip .tip-head,.m-confirm-dialog .tip 
 .tip-head {
	background-color: #f5f5f5;
	height: 3.4rem;
	line-height: 3.4rem
}

.m-alert-dialog .tip 
 .tip-title,.m-confirm-dialog .tip .tip-title {
	font-size: 1.5rem;
	color: #727272;
	text-align: center
}

.m-alert-dialog .tip
  .tip-close,.m-confirm-dialog .tip .tip-close {
	padding: 0 1rem 0 2rem;
	font-size: 1.5rem;
	color: #21ab38;
	position: absolute;
	right: 0
}

.m-alert-dialog .tip div.content,.m-confirm-dialog .tip div.content {
	padding: 1.5rem 1.5rem 4rem;
	font-size: 1.2rem;
	line-height: 1.8rem
}

.m-alert-dialog .alert,.m-confirm-dialog .alert {
	padding: 1.2rem 0;
	color: #727272;
	font-size: 1.5rem
}

.m-alert-dialog .operate,.m-confirm-dialog .operate {
	height: 2.8rem
}

.m-alert-dialog
   .operate span,.m-confirm-dialog .operate span {
	display: block;
	align-self: center;
	line-height: 2.8rem
}

.m-alert-dialog 
   .operate span:last-child,.m-confirm-dialog .operate span:last-child {
	color: #21ab38
}

.m-confirm-dialog {
	left: 50% !important;
	top: 50% !important;
	width: 80%;
	margin-left: -40%;
	margin-top: -40%
}

.m-dialog {
	-moz-border-top-left-radius: .5rem;
	border-top-left-radius: .5rem;
	-moz-border-top-right-radius: .5rem;
	border-top-right-radius: .5rem;
	overflow: hidden;
	background-color: #fff;
	width: 100%
}

.m-dialog .icon-close {
	background-position: -15.95rem -18.6rem;
	width: 2rem;
	height: 1.8rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.m-dialog 
   .dialog-head {
	font-size: 1.6rem;
	color: #333;
	background-color: #fafafa;
	height: 4.4rem;
	box-sizing: border-box;
	position: relative;
	border-bottom: 1.5px solid #dfdfdf
}

.m-dialog .dialog-head .close-wrap,.m-dialog 
   .dialog-head .title {
	display: block;
	-ms-flex-item-align: center;
	align-self: center
}

.m-dialog .dialog-head 
   .title {
	padding-left: 1.4rem;
	position: relative
}

.m-dialog .dialog-head 
   .title:before {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1rem;
	content: "";
	width: .4rem;
	height: 2rem;
	background-color: #00c267
}

.m-dialog .dialog-head 
   .close-wrap {
	text-align: right;
	padding-left: 2.8rem;
	padding-right: 1.4rem
}

.m-dialog .dialog-inner {
	overflow: hidden
}

.m-dialog .dialog-inner 
   .dialog-content {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

.m-dialog 
   .dialog-operate {
	box-shadow: 0 -2px 5px rgba(1, 1, 1, .1)
}

.m-dialog .dialog-operate button {
	display: block;
	width: 100%;
	background-color: #00c267;
	height: 4.6rem;
	font-size: 1.8rem;
	color: #fff;
	border: 0
}

.m-dialog 
   .dialog-operate button sub {
	font-size: 1.1rem;
	margin-right: .4rem
}

.m-dialog 
   .article {
	padding: 1rem;
	color: #727272;
	font-size: 1.1rem
}

.m-dialog .article h5 {
	font-size: 1.1rem;
	padding: .35rem 0
}

.m-dialog .article 
   p {
	line-height: 1.75rem;
	padding-bottom: .4rem
}

@
-webkit-keyframes slidein { 0%{
	transform: translate3d(0, 100%, 0)
}

to {
	transform: translateZ(0)
}

}
.weui-mask {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(11, 14, 23, .7)
}

.weui-dialog {
	position: fixed;
	z-index: 5000;
	width: 85%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #fdfdfe;
	text-align: center;
	border-radius: .4rem;
	background-clip: padding-box;
	overflow: hidden
}

.weui-dialog .dialog-inner {
	width: 96%
}

.weui-dialog .weui-dialog-hd {
	padding: 2rem 1rem 0
}

.weui-dialog .weui-dialog-hd .weui-dialog-title {
	font-size: 1.5rem;
	color: #262c2f
}

.weui-dialog .weui-dialog-bd {
	text-align: center;
	padding: 1rem 1.4rem 2rem;
	font-size: 1.2rem;
	color: #727272;
	word-wrap: break-word;
	word-break: break-all
}

.weui-dialog 
   .weui-dialog-bd p {
	display: inline-block;
	text-align: justify
}

.weui-dialog .weui-dialog-ft {
	position: relative;
	line-height: 4.3rem;
	border-top: 1.5px solid #dfdfdf;
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex
}

.weui-dialog .weui-dialog-ft span {
	position: relative;
	display: block;
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	color: #21ac39;
	font-size: 1.5rem;
	-webkit-tap-highlight-color: transparent
}

.weui-dialog .weui-dialog-ft span:first-child {
	border-right: 1.5px solid #dfdfdf
}

.weui-dialog .weui-dialog-ft .cancel {
	color: #666;
	font-size: 1.4rem
}

.weui-dialog-message 
   .weui-mask-transparent {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0
}

.weui-dialog-message 
   .weui-toast {
	background-color: rgba(0, 0, 0, .7);
	font-size: 1.4rem;
	color: #fff;
	border-radius: 1.4rem;
	background-clip: padding-box;
	padding: .8rem 2.4rem
}

.weui-dialog-window {
	border-radius: .4rem;
	background-clip: padding-box;
	background-color: #fff;
	width: 92%;
	padding-bottom: 1rem
}

.weui-dialog-window .head-inner {
	padding: 1.4rem 0
}

.weui-dialog-window .title {
	border-left: .4rem solid #22ad3a;
	font-size: 1.5rem;
	color: #262c2f;
	padding-left: .6rem
}

.weui-dialog-window .close-wrap {
	padding: 0 1.4rem 0 2rem
}

.weui-dialog-window 
   .dialog-inner {
	padding: 0 1rem;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

.weui-dialog-window .dialog-inner 
   .dialog-content {
	padding: 1rem 0;
	border-top: 1.5px solid #d3d3d3;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch
}

.weui-dialog-window .dialog-inner .dialog-content img {
	max-width: 100%
}

.hr {
	height: 1px;
	margin: .8rem 0;
	position: relative;
	border-bottom: 1.5px solid #dfdfdf
}

.gap-h1 {
	height: 1.4rem;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
	background-color: #f5f5f5
}

.quantity-form {
	position: relative;
	white-space: nowrap
}

.quantity-form .decrement,.quantity-form 
 .increment {
	display: -moz-inline-stack;
	display: inline-block
}

.quantity-form .quantity {
	width: 2rem;
	height: 2.6rem;
	line-height: 2.6rem;
	margin: 0;
	text-align: center;
	font-size: 1.2rem;
	-webkit-appearance: none;
	color: #262c2f;
	border: 1px solid #fff;
	background-color: transparent;
	font-family: PingFang SC, Hiragino Sans GB, Microsoft YaHei, sans-serif;
	-moz-user-select: none;
	-webkit-user-select: none;
	color: #darkGray
}

.quantity-form 
 .increment {
	background-position: 0 -15.4rem
}

.quantity-form .increment,.quantity-form 
 .increment.disabled {
	width: 2.8rem;
	height: 2.8rem;
	background-image: url("../../../images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.quantity-form .decrement {
	background-position: -12.4rem -11.9rem
}

.quantity-form .decrement,.quantity-form .decrement.disabled {
	width: 2.8rem;
	height: 2.8rem;
	background-image: url("../../../images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.calendar-full-btn button,.opt-full-btn button {
	display: block;
	width: 100%;
	background-color: #21ac39;
	height: 4.95rem;
	font-size: 1.8rem;
	color: #fff;
	border: 0
}

.calendar-full-btn button sub,.opt-full-btn button 
 sub {
	font-size: 1.1rem;
	margin-right: .4rem
}

.slidein {
	-webkit-animation-name: slideLn;
	animation-name: slideLn;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: none;
	animation-fill-mode: none
}

.slidein,.slideout {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.slideout {
	-webkit-animation-name: slideOut;
	animation-name: slideOut;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: none;
	animation-fill-mode: none
}

.fadein {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.fadein,.fadeout {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.fadeout {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.shake {
	-webkit-animation-name: shake;
	animation-name: shake;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.tools-menu {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4.6rem;
	box-sizing: border-box;
	z-index: 1000;
	background-color: hsla(0, 0%, 100%, .93)
}

.tools-menu 
 .icon-wx-purchase {
	background-position: -5.4rem -18.6rem
}

.tools-menu .icon-my-order,.tools-menu 
 .icon-wx-purchase {
	width: 2.3rem;
	height: 2rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.tools-menu 
 .icon-my-order {
	background-position: 0 -18.6rem
}

.tools-menu .icon-card-package {
	background-position: -17.75rem -15.4rem;
	width: 2.3rem;
	height: 2rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.tools-menu .inner-menu {
	display: -webkit-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100vw;
	position: relative
}

.tools-menu .inner-menu:before {
	content: "";
	position: absolute;
	width: 200%;
	display: block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	box-sizing: border-box;
	-webkit-transform: scale(.5);
	transform: scale(.5);
	border-radius: 0;
	background-clip: padding-box;
	border: 0 solid #e8e8e8;
	left: 0;
	top: 0;
	border-top-width: 1px
}

.iphone .tools-menu 
 .inner-menu:before {
	border-top-width: 2px
}

.iphoneplus .tools-menu .inner-menu:before {
	border-top-width: 3px
}

.tools-menu 
 .inner-menu>div {
	-webkit-box-flex: 1;
	-moz-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	text-align: center;
	height: 4rem;
	padding-top: .6rem;
	align-content: space-between;
	position: relative
}

.tools-menu .inner-menu>div .dots {
	position: absolute;
	width: .7rem;
	height: .7rem;
	border-radius: 50%;
	background-clip: padding-box;
	background-color: #fc7700;
	left: 50%;
	margin-left: .3rem;
	visibility: hidden
}

.tools-menu .inner-menu>div .dots.show {
	visibility: visible
}

.tools-menu
  .inner-menu>div span {
	display: block;
	font-size: 1rem;
	color: #999;
	padding-top: .1rem
}

.tools-menu .inner-menu>div.active
   .icon-wx-purchase {
	background-position: -2.7rem -18.6rem
}

.tools-menu .inner-menu>div.active .icon-my-order,.tools-menu 
   .inner-menu>div.active .icon-wx-purchase {
	width: 2.3rem;
	height: 2rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.tools-menu .inner-menu>div.active 
   .icon-my-order {
	background-position: -8.1rem -18.6rem
}

.tools-menu .inner-menu>div.active
    .icon-card-package {
	background-position: -15.05rem -15.4rem;
	width: 2.3rem;
	height: 2rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.tools-menu .inner-menu>div.active span {
	color: #00c267
} /*!
 * Mixins
 */ /*!
 * Mixins
 */ /*!
 * Mixins
 */ /*!
 * Mixins
 */ /*!
 *  #border-radius {
 *    @include default-border-radius(25px);
 *  }
 *   
 *  #border-radius-top-left {
 *    @include top-left-border-radius(25px);
 *  }
 *  
 *  #border-radius-top-right {
 *    @include top-right-border-radius(25px);
 *  }
 *  #border-radius-bottom-left {
 *    @include bottom-left-border-radius(25px);
 *  }
 *  #border-radius-bottom-right {
 *    @include bottom-right-border-radius(25px);
 *  } 
 *  #border-radius-top {
 *    @include top-border-radius(25px, 25px)
 *  }
 *  #border-radius-bottom {
 *    @include bottom-border-radius(25px, 25px)
 *  }
 *  #border-radius-left {
 *    @include left-border-radius(25px, 25px)
 *  }
 *  #border-radius-right {
 *    @include right-border-radius(25px, 25px)
 *  }
 *  #border-radius-combo {
 *    @include combo-border-radius(50px, 30px, 15px, 80px)
 *  }
 */ /*!
 * Mixins
 */ /*!
 * Mixins
 */
@
-webkit-keyframes slideLn { 0%{
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}

to {
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

}
@
keyframes slideLn { 0%{
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}

to {
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

}
@
-webkit-keyframes slideOut { 0%{
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

to {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}

}
@
keyframes slideOut { 0%{
	-webkit-transform: translateZ(0);
	transform: translateZ(0)
}

to {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0)
}

}
@
-webkit-keyframes fadeIn { 0%{
	opacity: 0
}

to {
	opacity: 1
}

}
@
keyframes fadeIn { 0%{
	opacity: 0
}

to {
	opacity: 1
}

}
@
-webkit-keyframes 
 fadeOut { 0%{
	opacity: 1
}

to {
	opacity: 0
}

}
@
keyframes fadeOut { 0%{
	opacity: 1
}

to {
	opacity: 0
}

}
@
-webkit-keyframes shake { 0%,to { -webkit-transform:translateZ(0);
	transform: translateZ(0)
}

12
.5
 
%,
37
.5
 
%,
62
.5
 
%{
-webkit-transform
:
 
translate3d
(-10px
,
0,
0);
transform
:
 
translate3d
(-10px
,
0,
0)
}
25%,50%,75
.5
 
%{
-webkit-transform
:
 
translate3d
(10px
,
0,
0);
transform
:
 
translate3d
(10px
,
0,
0)
}
}
@
keyframes shake { 0%,to { -webkit-transform:translateZ(0);
	transform: translateZ(0)
}

12
.5
 
%,
37
.5
 
%,
62
.5
 
%{
-webkit-transform
:
 
translate3d
(-10px
,
0,
0);
transform
:
 
translate3d
(-10px
,
0,
0)
}
25%,50%,75
.5
 
%{
-webkit-transform
:
 
translate3d
(10px
,
0,
0);
transform
:
 
translate3d
(10px
,
0,
0)
}
}
.m-datepicker .mask {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, .75);
	left: 0;
	top: 0;
	z-index: 10;
	transition: all 1s
}

.m-datepicker 
 .datepicker {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 900;
	background-color: #fff;
	width: 100%;
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	overflow: hidden
}

.m-datepicker .datepicker 
 .m-header {
	font-size: 1.7rem;
	height: 4.3rem;
	line-height: 4.3rem;
	text-align: left
}

.m-datepicker 
 .datepicker .m-header .close-wrap {
	padding: 0 1.4rem 0 2.8rem
}

.m-datepicker .datepicker .m-header 
 .m-h-title {
	margin: 0;
	position: relative;
	border-bottom: 1px solid #d3d3d3;
	background-color: #fafafa
}

.m-datepicker 
 .datepicker .m-header .title {
	text-align: left;
	padding-left: 1.4rem;
	font-size: 1.5rem;
	position: relative
}

.m-datepicker 
 .datepicker .m-header .title:before {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1rem;
	content: "";
	width: .4rem;
	height: 2rem;
	background-color: #00c267
}

.m-datepicker .tbody {
	position: relative;
	overflow: hidden;
	border-right: 1.5px solid #d3d3d3;
	padding: .8rem 0;
	box-sizing: border-box
}

.m-datepicker .tbody .tr-row>div {
	border-radius: 50%
}

.m-datepicker .tbody 
 .tr-row>div:nth-child(odd) {
	z-index: 14
}

.m-datepicker .tbody .tr-row>div:nth-child(even) {
	z-index: 13
}

.m-datepicker .tbody 
 .tr-row>div.active {
	background-color: #fc7700
}

.m-datepicker .tbody .tr-row>div.active em,.m-datepicker .tbody 
 .tr-row>div.active span {
	color: #fff
}

.m-datepicker .tr-row {
	height: 4.2rem;
	line-height: 4.2rem;
	text-align: center;
	font-size: 1.4rem
}

.m-datepicker .tr-row>div {
	position: relative;
	z-index: 12;
	height: 14.28571vw
}

.m-datepicker 
 .tr-row>div em,.m-datepicker .tr-row>div span {
	position: absolute;
	left: 0;
	display: block;
	width: 100%;
	text-align: center
}

.m-datepicker 
 .tr-row>div span {
	display: inline-block;
	width: 100%;
	top: 1.2rem;
	line-height: 1.2rem;
	color: #ccc
}

.m-datepicker .tr-row>div.allowed 
 span {
	color: #333
}

.m-datepicker .tr-row>div .icon-date-slected {
	visibility: hidden;
	position: absolute;
	right: -.1rem;
	top: -.15rem
}

.m-datepicker 
 .tr-row>div.active .icon-date-slected {
	visibility: visible;
	z-index: 1000
}

[data-device-type=android] .m-datepicker .tr-row>div.active 
 .icon-date-slected {
	top: -.2rem
}

.m-datepicker .tr-row>div em {
	font-size: .85rem;
	color: #fc7700;
	font-style: normal;
	line-height: 1rem;
	top: 2.7rem
}

.m-datepicker .tr-row>div.next,.m-datepicker .tr-row>div.prev {
	-webkit-box-flex: 2;
	flex: 2
}

.m-datepicker 
 .tr-row>div.prev {
	text-align: left;
	padding-left: 1.4rem
}

.m-datepicker 
 .tr-row>div.next {
	text-align: right;
	padding-right: 1.4rem
}

.m-datepicker .tr-row.week-row {
	background-color: #fafafa;
	font-size: 1.2rem;
	color: #333;
	height: 3.3rem
}

.m-datepicker .tr-row.week-row .weekend {
	color: #00c267
}

.m-datepicker .tr-row .new,.m-datepicker .tr-row 
 .old {
	color: #d3d3d3
}

.m-datepicker .tr-row .datepicker-switch {
	-webkit-box-flex: 3;
	flex: 3;
	text-align: center;
	font-size: 1.5rem
}

.icon-switch-l {
	background-position: -8rem -10.6rem
}

.icon-switch-l,.icon-switch-r {
	width: .7rem;
	height: 1.2rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.icon-switch-r {
	background-position: -8rem -7.4rem
}

.icon-close {
	background-position: -15.95rem -18.6rem;
	width: 2rem;
	height: 1.8rem;
	background-image: url("../../statics/images/wx/ticket/sprite.png");
	background-repeat: no-repeat;
	background-size: 25.55rem 24.9rem;
	display: inline-block
}

.bg-backhome {
	height: 100%;
	background-color: #f0f0f0
}

.backhome .offshelf {
	padding: 6rem 0 4rem
}

.backhome .offshelf 
 .icon-offshelf {
	width: 24.4rem;
	height: 9rem;
	background: url(./images/offshelf.png) no-repeat 50%;
	background-size: 100%;
	margin: 0 auto
}

.backhome 
 .message {
	text-align: center;
	font-size: 1.5rem;
	color: #727272;
	padding: 1.4rem
}

.backhome .btnbox {
	text-align: center;
	padding-top: 5rem
}

.backhome 
 .btnbox button {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	position: relative;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: manipulation;
	background-color: #7acd89;
	border: 1px solid transparent;
	padding: .4rem 2rem;
	color: #fff;
	font-size: 1.5rem;
	border-radius: .4rem;
	background-clip: padding-box
}

.content {
	list-style: none;
	height: 70px;
	line-height: 60px;
	font-family: "方正姚体";
}

.bottomDiv {
	float: right;
	margin-right: 100px;
	margin-top: -40px;
	width: 160px;
	height: 10px;
	font-size: 5px;
	color: #808080;
}

.left {
	float: left;
	margin-right: 5%;
	height: 50px;
}

.menuList .right {
	float: right;
	width: 10px;
}

.am-modal-bd {
	padding-bottom: 1px;
}